<div class="sexy">
    <button class="btn btn-primary" ng-click="adminUsersCtrl.showUserAddForm()">Add User</button>
    <div>
        <ct-modal>
            <div class="modal-child">
                <form ng-submit="signupCtrl.signup()">
                    <div class="form-group">
                        <label for="username">Username</label>
                        <input id="username" type="text" ng-model="adminUsersCtrl.user.username">
                    </div>
                    <div class="form-group">
                        <label for="firstName">First Name</label>
                        <input id="firstName" type="text" ng-model="adminUsersCtrl.user.firstName">
                    </div>
                    <div class="form-group">
                        <label for="lastName">Last Name</label>
                        <input id="lastName" type="text" ng-model="adminUsersCtrl.user.lastName">
                    </div>

                    <div class="form-group" ng-show="adminUsersCtrl.isEditingUser && !adminUsersCtrl.isChangingPassword">
                        <a href="" ng-click="adminUsersCtrl.toggleChangePassword()">Change Password</a>
                    </div>
                    <div class="form-group" ng-show="!adminUsersCtrl.isEditingUser || adminUsersCtrl.isChangingPassword">
                        <label for="password">Password</label>
                        <input id="password" type="password" ng-model="adminUsersCtrl.user.password">
                    </div>
                    <div class="form-group" ng-show="adminUsersCtrl.canChangeRole">
                        <label for="role">Role</label>
                        <select id="role" ng-model="adminUsersCtrl.user.role" ng-options="item.id as item.desc for item in adminUsersCtrl.roles">
                        </select>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="button" ng-click="adminUsersCtrl.addOrUpdateUser()">Add/Update</button>
                        <a href="" ng-click="adminUsersCtrl.closeModal()">Cancel</a>
                    </div>
                </form>
            </div>
        </ct-modal>
    </div>
    <table class="table">
        <thead>
            <th>Username</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Actions</th>
        </thead>
        <tbody>
            <tr ng-repeat="user in adminUsersCtrl.users">
                <td>{{user.username}}</td>
                <td>{{user.firstName}}</td>
                <td>{{user.lastName}}</td>
                <td>
                    <a href="" ng-click="adminUsersCtrl.showUserEditForm(user)">Edit</a>

                    <a href="" ng-click="adminUsersCtrl.removeUser(user._id)">Remove</a>
                </td>
            </tr>
        </tbody>
    </table>
</div>