<div class="sexy">
    <button class="btn btn-primary" ng-click="adminMealsCtrl.showMealAddForm()">Add Meal</button>
    <div>
        <ct-modal>
            <div class="modal-child">
                <form ng-submit="adminMealsCtrl.addOrUpdateMeal()">
                    <div class="form-group">
                        <label for="username">Username</label>
                        <input id="username" type="text" ng-model="adminMealsCtrl.meal.user.username">
                    </div>
                    <div class="form-group">
                        <label for="food">Food</label>
                        <input id="food" type="text" ng-model="adminMealsCtrl.meal.food">
                    </div>
                    <div class="form-group">
                        <label for="calories">Calories</label>
                        <input id="calories" type="text" ng-model="adminMealsCtrl.meal.calories">
                    </div>
                    <div class="form-group">
                        <label for="date">Date</label>
                        <input id="date" type="text" ct-date-picker ng-model="adminMealsCtrl.meal.date">
                    </div>
                    <div class="form-group">
                        <label for="time">Time</label>
                        <input id="time" type="text" ct-time-picker ng-model="adminMealsCtrl.meal.time">
                    </div>
                    <div class="form-group">
                        <button type="submit" class="button">Add/Update</button>
                        <a href="" ng-click="adminMealsCtrl.closeModal()">Cancel</a>
                    </div>
                </form>
            </div>
        </ct-modal>
    </div>
    <div class="meal-filter">
        From
        <input type="text" ct-date-picker ng-model="adminMealsCtrl.filter.dateFrom" data-value="2015/04/20">
        <input type="text" ct-time-picker ng-model="adminMealsCtrl.filter.timeFrom">
        To
        <input type="text" ct-date-picker ng-model="adminMealsCtrl.filter.dateTo">
        <input type="text" ct-time-picker ng-model="adminMealsCtrl.filter.timeTo">
        <button class="btn btn-primary" ng-click="adminMealsCtrl.applyFilter()">Filter</button>
    </div>
    <table class="table">
        <thead>
        <th>Username</th>
        <th>Food</th>
        <th>Calories</th>
        <th>When</th>
        <th>Actions</th>
        </thead>
        <tbody>
        <tr ng-repeat="meal in adminMealsCtrl.meals">
            <td>{{meal.user.username}}</td>
            <td>{{meal.food}}</td>
            <td>{{meal.calories}}</td>
            <td>{{meal.dateTime | date:'yyyy-MM-dd HH:mm:ss'}}</td>
            <td>
                <a href="#" ng-click="adminMealsCtrl.showMealEditForm(meal)">Edit</a>

                <a href="#" ng-click="adminMealsCtrl.removeMeal(meal._id)">Remove</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>