<div>
    <div class="meal-info">
        <p>
            Todays' calories: {{homeCtrl.todayCalories}}
        <p/>
    </div>
    <div class="meal-box">
        <div ng-hide="homeCtrl.isMealFormVisible" class="vertical-padding-10">
            <a class="btn btn-primary" ng-click="homeCtrl.toggleMealForm()">{{homeCtrl.formToggleText}}</a>
        </div>
        <form ng-show="homeCtrl.isMealFormVisible" class="form-inline" ng-submit="homeCtrl.addMeal()">
            <input type="text" class="form-control" ng-model="homeCtrl.meal.food" placeholder="What you ate?">
            <input type="text" class="form-control" ng-model="homeCtrl.meal.calories" placeholder="Number of calories">
            <input type="datetime" class="form-control" ng-model="homeCtrl.meal.dateTime" placeholder="Datetime">
            <button type="submit" class="btn btn-success">Save</button>
            <a href="#" ng-click="homeCtrl.toggleMealForm()">Cancel</a>
        </form>

        <table class="table">
            <thead>
                <th>Food</th>
                <th>When</th>
                <th>Calories</th>
                <th>Actions</th>
            </thead>
            <tbody>
                <tr ng-repeat="meal in homeCtrl.meals">
                    <td>{{meal.food}}</td>
                    <td>{{meal.dateTime}}</td>
                    <td>{{meal.calories}}</td>
                    <td><a href="#">Edit</a></td>
                    <td><a href="#">Remove</a></td>
                </tr>
            </tbody>
        </table>
    </div>

</div>