<div class="login-box">
    <form ng-submit="loginCtrl.login()">
        <div class="form-group">
            <label for="username">Username</label>
            <input id="username" type="text"  ng-model="loginCtrl.username">
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input id="password" type="password" ng-model="loginCtrl.password">
        </div>
        <div class="form-group">
            <button type="submit" class="button">Sign In</button>
        </div>
        <div>
            Don't have an account? No problem, <a ui-sref="signup">Sign up here</a>
        </div>
    </form>
</div>