<div class="sexy">
    <div ng-hide="settingsProfileCtrl.isLoaded">
        Loading...
    </div>
    <form name="form" ng-show="settingsProfileCtrl.isLoaded"  novalidate>
        <div class="form-group">
            <label for="username">Username</label>
            <input name="username" type="text" ng-model="settingsProfileCtrl.user.username" ng-minlength="3" ng-maxlength="20" required>
            <p ng-show="form.username.$error.minlength">Username is too short</p>
            <p ng-show="form.username.$error.maxlength">Username is too long</p>
            <p ng-show="form.username.$error.required && !form.username.$pristine">Username cannot be blank</p>
        </div>
        <div class="form-group">
            <label for="firstName">First Name</label>
            <input name="firstName" type="text" ng-model="settingsProfileCtrl.user.firstName" required>
            <p ng-show="form.firstName.$error.required && !form.firstName.$pristine">First name cannot be blank</p>
        </div>
        <div class="form-group">
            <label for="lastName">Last Name</label>
            <input name="lastName" type="text" ng-model="settingsProfileCtrl.user.lastName" required>
            <p ng-show="form.lastName.$error.required && !form.lastName.$pristine">Last name cannot be blank</p>
        </div>

        <div class="form-group" ng-hide="settingsProfileCtrl.isChangingPassword">
            <a href="" ng-click="settingsProfileCtrl.toggleChangePassword()">Change Password</a>
        </div>
    </form>

    <div ng-show="settingsProfileCtrl.isChangingPassword">
        <form name="pwForm" novalidate>
            <div class="form-group">
                <label for="password">Current Password</label>
                <input name="password" type="password" ng-model="settingsProfileCtrl.user.currentPassword" required>
                <p ng-show="pwForm.password.$error.required && !pwForm.password.$pristine">Password cannot be blank</p>
            </div>
            <div class="form-group">
                <label for="passwordNew">New Password</label>
                <input name="passwordNew" type="password" ng-model="settingsProfileCtrl.user.password" ng-minlength="6" required>
                <p ng-show="pwForm.passwordNew.$error.required && !pwForm.passwordNew.$pristine">Password cannot be blank</p>
                <p ng-show="pwForm.passwordNew.$error.minlength && !pwForm.passwordNew.$pristine">Password is too short</p>
            </div>
            <div class="form-group">
                <label for="passwordConf">Password Confirmation:</label>
                <input name="passwordConf" type="password" ng-model="settingsProfileCtrl.user.passwordConf"
                       ct-password-match="settingsProfileCtrl.user.password"
                       required>
                <p ng-show="pwForm.passwordConf.$error.pwMatch &&
                            !pwForm.passwordConf.$pristine">Password and confirmation do not match</p>
            </div>
        </form>
    </div>
    <div class="form-group">
        <button type="submit" class="button" ng-click="settingsProfileCtrl.update()"
                ng-disabled="form.$invalid || settingsProfileCtrl.isChangingPassword && pwForm.$invalid"
                title="{{ form.$invalid || settingsProfileCtrl.isChangingPassword && pwForm.$invalid ?
                          'Please fill all required fields before submitting' : '' }}">Update Profile</button>
    </div>
</div>